<a class="block bg-white rounded-md min-h-[130px] shadow-lg p-3" href="{{ card_collection.url }}">
  <div class="text-base font-bold">
      <h4> {{- card_collection.title | escape -}}</h4>      
        <p class="text-sm">
              {{- card_collection.description | strip_html | truncatewords: 12 -}}</span>
        </p>
   </div>
  </a>