
{% assign start = 0 %}
{% assign end = 250 %}
{%- assign cartTotal = cart.original_total_price -%}
{% assign progression = 20 %}
{% assign firstStep = false %}
{% assign secondStep = false %}
{% assign total = cartTotal | divided_by: 100 %}

{% if total >= 100 %}
    {% assign progression = 55 %}
    {% assign firstStep = true %}

{% endif %}




<div data-cart-indicator class="w-full p-2">

    <div class="text-sm text-center text-sauge mb-2">

        {% if firstStep == false %}
            <span>Plus que <b class="text-md">{{ 250 | minus: total }}€</b> pour la livraison gratuite</span>
        {% endif %}



        {% if firstStep == true %}
        {% assign progression = 100 %}
        <span class="font-bold">Vous avez la livraison offerte </span>
    {% endif %}
    </div>
    <div class="w-full relative  flex items-center">
        <div class="w-full bg-white rounded-md overflow-hidden relative h-1">
            <div class="absolute w-full h-1 origin-left rounded-md bg-[#201A1C] progress-bar" style="transform: scaleX({{progression}}%);" ></div>
        </div>
        <div class="flex w-full absolute items-center justify-around">
        </div>
            <div  style="left: {{progression}}%;" class="rounded-full -translate-x-2 absolute  bg-[#201A1C] border-[1px] border-[#201A1C] w-3.5 h-3.5" ></div>
    </div>
    <div class="w-full text-center pt-2 text-xs flex justify-around items-center">

        <div class="relative opacity-0 hidden">
             <div style="background: {% if firstStep == true %}  #201A1C {% else %} #E8E2DB {% endif %}; border-color: {% if firstStep == true %}  #201A1C {% else %} #F9F8F6 {% endif %};" class=" m-auto left-0 right-0 top-[-16px] absolute rounded-full selected:border-marron border-2  w-3.5 h-3.5"></div>
            <b class="text-sm font-bold" >250€</b> <br>
            Livraison offerte
        </div>

    </div>
</div>
