wishlist-link .wk-button {
  --icon-size: 20px;
  --icon-stroke: black;
  --icon-stroke-width: 1.5px;

  height: 2.5rem;
  width: 2.5rem;
  color: black;
}

wishlist-link .wk-selected {
  --icon-fill: transparent;
}

wishlist-link .wk-button .wk-pill {
  font-size: .75rem;
  font-weight: 700;
  color: white;
  background-color: rgb(var(--accent));
  top: 7px;
  right: 3px;
  padding-left: 0.3rem;
  padding-right: 0.25rem;
  border-radius: 50%;
}

wishlist-button .wk-button,
wishlist-button .wk-floating .wk-button {
  --icon-stroke: #F84C55;

  color: black;
  margin-top: 0;
}

wishlist-button wk-button:not(.wk-floating) .wk-button {}

wishlist-button .wk-floating .wk-button {}

wishlist-button .wk-button {
  font-size: .875rem;
}

wishlist-page .wk-page {
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (min-width: 750px) {
  wishlist-page .wk-page {
    padding-bottom: 36px;
  }
}

wishlist-product-card .wk-image {
  aspect-ratio: 1 / 1;
}

wishlist-product-card .wk-submit-button {
  background: rgb(var(--button_bg_primary)) !important;
  color: rgb(var(--button_color_primary)) !important;
  font-size: 16px;
  border-radius: 0.375rem;
  display: none;
}

wishlist-product-card .wk-meta {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom:0;
}

wishlist-product-card .wk-product-title {
  margin-bottom: 5px;
}

wishlist-product-card .wk-vendor {}

wishlist-product-card .wk-price {}

wishlist-page .wk-header .wk-controls {
  font-size: 14px;
  display:none;
}

wishlist-page .wk-login-callout {
  font-size: 16px;
}

wishlist-page .wk-grid {
  --columns: 1;
}

.main-product-card wishlist-button .wk-button {
    padding-right: 0 !important;
}


@media (min-width: 400px) {
  wishlist-page .wk-grid {
    --columns: 2;
  }
}

@media (min-width: 700px) {
  wishlist-page .wk-grid {
    --columns: 3;
  }
}

@media (min-width: 900px) {
  wishlist-page .wk-grid {
    --columns: 4;
  }
}

/* dev fev 2022 */
wishlist-button .wk-floating {
  top: -20px !important;
  left: 15px !important;
}

wishlist-product-card .wk-product-card {
  background: white;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
}

wishlist-product-card .wk-form {
  display: none;
}

.wk-grid {
  grid-gap: 2em 1em !important;
}

.wk-button .wk-text {
  display: none;
}

.product-info .wk-button {
  display: none;
}

#sticktCart wishlist-button {
  display: none;
}


.account-wishlist{
  background-color:yellow;
}

.account-wishlist wishlist-page .wk-grid {
    --columns: 2 !important;
    gap: 20px !important;
} 

.account-wishlist wishlist-page .wk-page {
    padding: 0 !important;
}

.account-wishlist wishlist-page .wk-header{
   display: none;
}

